h1 {
  margin: 20px 0;
  color: #fff;
  font-size: 30px;
}
strong {
  color: #008080;
}
.important-list {
  padding: 10px 0 10px 20px;
  margin: 40px 0;
  font-weight: 500;
}
.important-list li {
  padding: 10px 0;
  font-size: 1.2em;
}
.p-list {
  padding: 10px 0 10px 40px;
  margin: 25px 0;
}
#footer-list {
  padding-left: 20px !important;
  text-transform: capitalize;
  color: white;
  font-size: 1.4em;
  font-weight: lighter;
}
#footer-list li {
  padding: 8px 0;
}
#footer h3 {
  margin-bottom: 8px;
}
.footer-four h3 {
  margin-top: 15px;
}
.footer-three #button {
  margin-top: 15px;
}
/* NEW FOOTER */
.no-padding {
  padding: 0;
}
.no-padding-left {
  padding-left: 0;
}
.no-padding-right {
  padding-right: 0;
}
.less-margin-bottom {
  margin: 10px;
}

#seperator {
  font-size: 0.9em;
  color: white;
}
header .top-bar, header .top-bar a, header .top-bar a i {
  color: #999 !important;
  /*background-color: #fff;*/
}
.logo img {
  height: 70px;
  max-width: none;
  margin-top: 16px;
}

div.posts-block>img {
  vertical-align: middle;
}
.about-me-sign {
  margin-top: 30px;
}
.about-me-sign p {
  padding: 0;
  margin: 0;
}

/* terms and conditions page */
.terms-list>li {
  padding-top: 10px;
  padding-bottom: 5px;
}
/*Submit Claim Page */
#claimnow div {
  padding-left: 0;
}
#claimnow button {
  margin-top: 20px;
}
.inputneeded {
  background: red;
}
address {
  padding: 20px 30px;
}

body {
    counter-reset: section;
}
.terms-list li {
  display: block;
    padding-left: 25px;
    text-indent:-25px;
}
.terms-list ol p {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 25px;
}
.terms-header {
    counter-reset: subsection;
}

.terms-header:before {
    counter-increment: section;
    content: counter(section) ". ";
}

.terms-content>li:before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) " ";
}

/* Privacy notice page */
.privacynotice-header {
  font-size: 18px;
  padding: 20px 0 10px 0;
}

.privacynotice-header:first-child {
  font-size: 18px;
  padding-top: 0;
}

.privacynotice-inner-list {
  list-style-type:disc;
}

/* Legal container in footer */
.legal-container {
  text-align: right;
}
