
#main-content {
    width: 100%;
    padding: 10px 20px;
    background-color: #dfe5e9
}
#sidebar {
    background-color: #2b2e33
}
ul {
    margin: 0;
    padding: 0;
    list-style: none
}
.m-auto {
    margin: auto
}
.m-0 {
    margin: 0 !important
}
.m-5 {
    margin: 5px !important
}
.m-10 {
    margin: 10px !important
}
.m-20 {
    margin: 20px !important
}
.m-t-0 {
    margin-top: 0 !important
}
.m-t-5 {
    margin-top: 5px !important
}
.m-t-10 {
    margin-top: 10px !important
}
.m-t-20 {
    margin-top: 20px !important
}
.m-t-30 {
    margin-top: 30px !important
}
.m-t-40 {
    margin-top: 40px !important
}
.m-t-60 {
    margin-top: 60px !important
}
.m-b-0 {
    margin-bottom: 0 !important
}
.m-b-5 {
    margin-bottom: 5px !important
}
.m-b-6 {
    margin-bottom: 6px !important
}
.m-b-10 {
    margin-bottom: 10px !important
}
.m-b-12 {
    margin-bottom: 12px !important
}
.m-b-15 {
    margin-bottom: 15px !important
}
.m-b-20 {
    margin-bottom: 20px !important
}
.m-b-30 {
    margin-bottom: 30px !important
}
.m-b-40 {
    margin-bottom: 40px !important
}
.m-b-60 {
    margin-bottom: 60px !important
}
.m-b-80 {
    margin-bottom: 80px !important
}
.m-b-140 {
    margin-bottom: 140px !important
}
.m-b-80 {
    margin-bottom: 80px !important
}
.m-b-245 {
    margin-bottom: 245px !important
}
.m-b-245 {
    margin-bottom: 245px !important
}
.m-b-m30 {
    margin-bottom: -30px !important
}
.m-b-m50 {
    margin-bottom: -50px !important
}
.m-l-5 {
    margin-left: 5px !important
}
.m-l-10 {
    margin-left: 10px !important
}
.m-l-20 {
    margin-left: 20px !important
}
.m-l-30 {
    margin-left: 30px !important
}
.m-l-60 {
    margin-left: 60px !important
}
.m-r-5 {
    margin-right: 5px !important
}
.m-r-10 {
    margin-right: 10px !important
}
.m-r-20 {
    margin-right: 20px !important
}
.m-r-30 {
    margin-right: 30px !important
}
.m-r-60 {
    margin-right: 60px !important
}
.p-0 {
    padding: 0 !important
}
.p-5 {
    padding: 5px !important
}
.p-10 {
    padding: 10px !important
}
.p-15 {
    padding: 15px !important
}
.p-20 {
    padding: 20px !important
}
.p-30 {
    padding: 30px !important
}
.p-40 {
    padding: 40px !important
}
.p-t-0 {
    padding-top: 0 !important
}
.p-t-10 {
    padding-top: 10px !important
}
.p-t-20 {
    padding-top: 20px !important
}
.p-b-0 {
    padding-bottom: 0 !important
}
.p-b-10 {
    padding-bottom: 10px !important
}
.p-b-20 {
    padding-bottom: 10px !important
}
.p-b-30 {
    padding-bottom: 30px !important
}
.p-l-5 {
    padding-left: 5px !important
}
.p-l-10 {
    padding-left: 10px !important
}
.p-l-20 {
    padding-left: 20px !important
}
.p-l-30 {
    padding-left: 30px !important
}
.p-l-40 {
    padding-left: 40px !important
}
.p-r-5 {
    padding-right: 5px !important
}
.p-r-10 {
    padding-right: 10px !important
}
.p-r-20 {
    padding-right: 20px !important
}
.p-r-30 {
    padding-right: 30px !important
}
.t-0 {
    top: 0
}
.t-5 {
    top: 5px
}
.t-10 {
    top: 10px
}
.t-15 {
    top: 15px
}
.b-0 {
    bottom: 0
}
.b-5 {
    bottom: 5px
}
.b-10 {
    bottom: 10px
}
.b-15 {
    bottom: 15px
}
.l-0 {
    left: 0
}
.l-5 {
    left: 5px
}
.l-10 {
    left: 10px
}
.l-15 {
    left: 15px
}
.r-0 {
    right: 0
}
.r-5 {
    right: 5px
}
.r-10 {
    right: 10px
}
.r-15 {
    right: 15px
}
.bd-0 {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important
}
.bd-3 {
    -moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important
}
.bd-6 {
    -moz-border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    border-radius: 6px !important
}
.bd-9 {
    -moz-border-radius: 9px !important;
    -webkit-border-radius: 9px !important;
    border-radius: 9px !important
}
.bd-50p {
    -moz-border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important
}
.no-bd {
    border: none !important;
    box-shadow: none
}
.border-bottom {
    border-bottom: 1px solid #efefef !important
}
.border-top {
    border-top: 1px solid #efefef !important
}
.bd-white {
    border-color: #fff !important
}
.bd-green {
    border-left: 3px solid #5cb85c;
    padding-left: 20px
}
.bd-red {
    border-left: 3px solid #c9625f;
    padding-left: 20px
}
.bd-blue {
    border-left: 3px solid #3598db;
    padding-left: 20px
}
.bd-t-red {
    border-top: 4px solid #c9625f
}
.bd-t-green {
    border-top: 4px solid #5cb85c
}
.bd-t-blue {
    border-top: 4px solid #0090d9
}
.bd-t-dark {
    border-top: 4px solid #2b2e33
}
.bd-t-purple {
    border-top: 4px solid #b57ee0
}
.bd-l-red {
    border-left: 4px solid #c9625f
}
.bd-l-green {
    border-left: 4px solid #5cb85c
}
.bd-l-blue {
    border-left: 4px solid #0090d9
}
.bd-l-dark {
    border-left: 4px solid #2b2e33
}
.bd-l-purple {
    border-left: 4px solid #b57ee0
}
.bd-b-red {
    border-bottom: 4px solid #c9625f
}
.bd-b-green {
    border-bottom: 4px solid #5cb85c
}
.bd-b-blue {
    border-bottom: 4px solid #0090d9
}
.bd-b-dark {
    border-bottom: 4px solid #2b2e33
}
.bd-b-purple {
    border-bottom: 4px solid #b57ee0
}
.bg-gray {
    background-color: #b6b6b6 !important;
    color: #000 !important
}
.bg-gray-light {
    background-color: #ececec !important;
    color: #000 !important
}
.bg-red {
    background-color: #c75757 !important;
    color: #fff !important
}
.bg-white {
    background-color: #fff !important;
    color: black !important
}
.bg-green {
    background-color: #18a689 !important;
    color: #fff !important
}
.bg-blue {
    background-color: #0090d9 !important;
    color: #fff !important
}
.bg-orange {
    background-color: #f27835 !important;
    color: #fff !important
}
.bg-purple {
    background-color: #b57ee0 !important;
    color: #fff !important
}
.bg-dark {
    background-color: #2b2e33 !important;
    color: #fff !important
}
.bg-purple-gradient {
    background: #bf9bdd;
    background: -moz-radial-gradient(center, ellipse cover, #bf9bdd 27%, #9e52dd 100%);
    background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(27%, #bf9bdd), color-stop(100%, #9e52dd));
    background: -webkit-radial-gradient(center, ellipse cover, #bf9bdd 27%, #9e52dd 100%);
    background: -o-radial-gradient(center, ellipse cover, #bf9bdd 27%, #9e52dd 100%);
    background: -ms-radial-gradient(center, ellipse cover, #bf9bdd 27%, #9e52dd 100%);
    background: radial-gradient(ellipse at center, #bf9bdd 27%, #9e52dd 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#bf9bdd', endColorstr='#9e52dd', GradientType=1)
}
.bg-opacity-20 {
    background-color: rgba(0, 0, 0, 0.2)
}
.opacity-0 {
    opacity: 0
}
.opacity-20 {
    opacity: .2
}
.opacity-50 {
    opacity: .5
}
.opacity-70 {
    opacity: .7
}
.opacity-90 {
    opacity: .9
}
.width-0 {
    width: 0 !important
}
.width-300 {
    width: 300px !important
}
.min-width-40 {
    min-width: 40px
}
.width-100p {
    width: 100% !important
}
.h-0 {
    height: 0 !important;
    overflow: hidden !important
}
.h-20 {
    height: 20px !important;
    overflow: hidden !important
}
.h-30 {
    height: 30px !important;
    overflow: hidden !important
}
.h-40 {
    height: 40px !important;
    overflow: hidden !important
}
.h-100 {
    height: 100px !important;
    overflow: hidden !important
}
.h-150 {
    height: 150px !important;
    overflow: hidden !important
}
.h-220 {
    height: 220px !important;
    overflow: hidden !important
}
.h-250 {
    height: 250px !important;
    overflow: hidden !important
}
.h-280 {
    height: 280px !important;
    overflow: hidden !important
}
.h-300 {
    height: 300px !important;
    overflow: hidden !important
}
.pos-rel {
    position: relative
}
.pos-abs {
    position: absolute
}
.dis-inline {
    display: inline
}
.dis-inline-b {
    display: inline-block
}
.dis-block {
    display: block !important
}
.f-left {
    float: left
}
.f-right {
    float: right
}
.cursor-pointer {
    cursor: pointer
}
code {
    padding: 2px 8px 2px 4px;
    font-size: 90%;
    color: #2a465c;
    background-color: #d5e9ff;
    white-space: nowrap;
    border-radius: 4px
}
.line-separator {
    border-right: 1px solid #dbe2e7
}
img.img-left {
    border: 1px solid #ccc;
    float: left;
    margin-right: 15px;
    padding: 5px
}
img.img-right {
    border: 1px solid #ccc;
    float: right;
    margin-left: 15px;
    padding: 5px
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Carrois Gothic', verdana, arial;
    font-weight: 300 !important;
    color: inherit
}
h3 {
    color: #534e4e
}
a {
    color: #0090d9;
    transition: color .2s linear 0, background-color .2s linear 0 !important
}
a.active {
    color: #00a2d9 !important;
    text-decoration: underline
}
.carrois {
    font-family: 'Carrois Gothic', sans-serif
}
.uppercase {
    text-transform: uppercase
}
.align-center {
    text-align: center
}
.align-left {
    text-align: left
}
.align-right {
    text-align: right
}
a,
a:focus,
a:hover,
a:active {
    outline: 0
}
.f-12 {
    font-size: 12px !important
}
.f-14 {
    font-size: 14px !important
}
.f-15 {
    font-size: 15px !important
}
.f-16 {
    font-size: 16px !important
}
.f-18 {
    font-size: 18px !important
}
.f-20 {
    font-size: 20px !important
}
.f-24 {
    font-size: 24px !important
}
.f-32 {
    font-size: 32px !important
}
.f-40 {
    font-size: 40px !important
}
.f-60 {
    font-size: 60px !important
}
.f-65 {
    font-size: 65px !important
}
.f-80 {
    font-size: 80px !important
}
.f-150 {
    font-size: 150px !important
}
.w-300 {
    font-weight: 300 !important
}
.w-500 {
    font-weight: 500 !important
}
.w-600 {
    font-weight: 600 !important
}
.w-700 {
    font-weight: 700 !important
}
.c-red {
    color: #cd6a6a !important
}
.c-blue {
    color: #00a2d9 !important
}
.c-purple {
    color: #b57ee0 !important
}
.c-brown {
    color: #9e7b2e !important
}
.c-orange {
    color: #ec8521 !important
}
.c-green {
    color: #18a689 !important
}
.c-gray-light {
    color: #dadada !important
}
.c-gray {
    color: #8f8f8f !important
}
.c-dark {
    color: #343434 !important
}
.c-white {
    color: #fff !important
}
.transparent-color {
    color: rgba(0, 0, 0, 0.2)
}
.line-through {
    text-decoration: line-through
}
.t-ellipsis {
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden
}
.asterisk {
    color: #d9534f
}
.help-block {
    color: #afaaaa;
    font-weight: 500;
    font-size: 12px
}
.navbar {
    min-height: 40px;
    margin-bottom: 20px;
    border: 0;
    margin-bottom: 0;
    z-index: 90
}


label.required:after {
    content: '*';
    color: #ff5757;
    margin-left: 2px
}
.dropdown-menu>li>a.no-option {
    padding: 0;
    height: 0
}

.panel-default>.panel-heading {
    padding: 15px 15px 8px 15px;
    background-color: #fff;
    border-color: #fff
}
.panel-title {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    margin: 5px 0 5px 0;
    padding: 0;
    width: 50%;
    font-family: 'Carrois Gothic', sans-serif
}
.bg-red .panel-title {
    color: #fff
}
.panel-tools {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 0
}
.panel-tools a {
    margin-left: 6px
}
.panel-body {
    background-color: #FFF;
    padding: 26px
}
.sortable .panel,
.sortable {
    cursor: move
}
.panels_draggable .ui-sortable {
    min-height: 100px
}
.form-control {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 8px 12px;
    font-size: 13px;
    color: #555;
    background-color: #FFF !important;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    -moz-transition: all .2s linear 0, box-shadow .2s linear 0;
    -o-transition: all .2s linear 0, box-shadow .2s linear 0;
    transition: all .2s linear 0, box-shadow .2s linear 0;
    -webkit-box-shadow: none;
    box-shadow: none
}
.form-control.input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px
}
.form-control..input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}
.form-control:focus {
    border-color: #a0bdda;
    background-color: #e9ebef;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}
.div_checkbox {
    position: relative;
    margin-top: 0
}
.input-icon {
    position: relative
}
.input-icon i {
    width: 16px;
    height: 16px;
    font-size: 16px;
    color: #e5eaec;
    display: block;
    text-align: center;
    position: absolute;
    margin: 10px
}
.input-icon input {
    padding-left: 34px !important
}
.input-icon.right input {
    padding-right: 34px !important;
    padding-left: 10px !important
}
.input-icon.right i {
    right: 17px;
    margin: 10px 0 10px
}
.input-icon.right .fa-check {
    display: block
}
.input-icon.right .parsley-success .fa-check {
    display: block
}
.selectpicker li {
    list-style-type: none !important
}
.switch-toggle {
    margin-bottom: 10px
}
.danger .slider-selection {
    background-color: #c75757
}
.primary .slider-selection {
    background-color: #428bca
}
.success .slider-selection {
    background-color: #18a689
}
.warning .slider-selection {
    background-color: #f0ad4e
}
.danger .slider-track,
.primary .slider-track,
.success .slider-track,
.warning .slider-track {
    background-color: #f0f0f0
}
.danger .slider-handle,
.primary .slider-handle,
.success .slider-handle,
.warning .slider-handle {
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: inset 0 2px 1px -1px #FFF, 0 1px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 2px 1px -1px #fff, 0 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 2px 1px -1px #FFF, 0 1px 3px rgba(0, 0, 0, 0.4)
}
label {
    font-weight: 400
}
.form-group .tips {
    font-style: italic;
    color: #a8a8a8
}
.form-group strong {
    font-weight: 600
}
.form-control.password {
    background: #FFF url(../img/small/key_small.png) no-repeat 95% center;
    -webkit-transition: all 0 ease;
    -moz-transition: all 0 ease;
    -ms-transition: all 0 ease;
    -o-transition: all 0 ease;
    transition: all 0 ease
}
.form-control.user {
    background: #FFF url(../img/small/user_small.png) no-repeat 95% center;
    -webkit-transition: all 0 ease;
    -moz-transition: all 0 ease;
    -ms-transition: all 0 ease;
    -o-transition: all 0 ease;
    transition: all 0 ease
}
input.parsley-success,
textarea.parsley-success {
    color: #468847 !important;
    background-color: #dff0d8 !important;
    border: 1px solid #d6e9c6 !important
}
input.parsley-error,
textarea.parsley-error {
    color: #b94a48 !important;
    background-color: #f2dede !important;
    border: 1px solid #eed3d7 !important
}
.parsley-error-list {
    color: #d9534f;
    font-size: 12px;
    padding-top: 5px
}
.form-wizard .ui-checkbox input {
    left: .6em;
    margin: -17px 0 0 0
}
.form-wizard .ui-checkbox .ui-btn {
    z-index: 1
}
.form-wizard .ui-checkbox-off:after {
    filter: Alpha(Opacity=0);
    opacity: 0
}
.form-wizard .ui-radio label {
    background: #EEE !important
}
.ui-btn-icon-left:after,
.ui-btn-icon-right:after,
.ui-btn-icon-top:after,
.ui-btn-icon-bottom:after,
.ui-btn-icon-notext:after {
    background-color: #666;
    background-color: rgba(0, 0, 0, 0.63)
}
#main-content.icons-panel li a {
    color: #333;
    font-size: 16px;
    padding: 10px 25px
}
.icons-panel li.active {
    margin-left: -1px
}
.icons-panel .tab-pane {
    background-color: #FFF;
    padding: 10px 25px
}
#glyphicons li {
    display: inline-block;
    text-align: left;
    color: gray;
    height: 60px;
    line-height: 31px;
    vertical-align: bottom
}
#glyphicons span.glyphicon {
    font-size: 1.6em;
    color: #366992
}
#glyphicons .glyphicon {
    font-size: 1.5em;
    margin-bottom: 0;
    color: #AAA;
    padding-right: 15px
}
a.zocial {
    margin: 10px 10px
}
div.social-btn {
    display: inline-block;
    width: 300px;
    overflow: hidden
}
div.social-btn-small {
    display: inline-block;
    width: 65px;
    overflow: hidden
}
.icons-panel .fa-item {
    color: #366992;
    padding-right: 15px;
    height: 60px
}
.icons-panel i.fa {
    font-size: 1.6em;
    color: #366992;
    padding-right: 15px
}
.icons-panel .glyphicon-item {
    color: #366992;
    padding-right: 15px;
    height: 60px
}
.icons-panel .glyphicon-item span {
    padding-right: 20px
}
#entypo div.col-md-3 {
    color: gray;
    height: 58px
}
#entypo .icon:before {
    color: #366992
}
.alert.bg-blue,
.alert.bg-green,
.alert.bg-purple,
.alert.bg-gray-light,
.alert.bg-gray,
.alert.bg-white,
.alert.bg-red {
    border-radius: 2px
}
.badge-dark {
    background-color: #2b2e33 !important
}
.badge-white {
    background-color: #fff !important;
    color: #2b2e33 !important
}
.badge-default {
    background-color: #999 !important
}
.badge-primary {
    background-color: #3598db !important
}
.badge-success {
    background-color: #378037 !important
}
.badge-info {
    background-color: #5bc0de !important
}
.badge-warning {
    background-color: #f0ad4e !important
}
.badge-danger {
    background-color: #d9534f !important
}
.popover-dark {
    border: 1px solid #42474f;
    background-color: #2b2e33
}
.popover-dark.top .arrow:after {
    border-top-color: #2b2e33
}
.popover-dark.bottom .arrow:after {
    border-bottom-color: #2b2e33
}
.popover-dark.left .arrow:after {
    border-left-color: #2b2e33
}
.popover-dark.right .arrow:after {
    border-right-color: #2b2e33
}
.popover-dark .popover-title {
    background-color: #3a3a3a;
    color: #fff;
    border: 0;
    border-bottom: 1px solid #42474f
}
.popover-dark .popover-content {
    background-color: #2b2e33;
    color: #fff;
    padding: 9px 14px
}
.progress.progress-bar-thin {
    height: 5px
}
.progress.progress-bar-large {
    height: 20px
}
.progress.progress-bar-large .progress-bar {
    line-height: 20px
}
.modal-full {
    width: 98%
}
.modal-footer.text-center {
    text-align: center
}
.modal-panel .btn {
    margin-bottom: 10px
}
ul.list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none
}
.nv-axisMaxMin {
    color: red !important
}
.panel-content {
    padding: 0
}
.panel-stat {
    position: relative;
    overflow: hidden;
    border: 0
}
.panel-stat h3 {
    color: #fff
}
.panel-stat .icon {
    color: rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 5px;
    bottom: 45px;
    z-index: 1
}
.panel-stat .bg-dark .icon {
    color: rgba(255, 255, 255, 0.1)
}
.panel-stat .icon i {
    font-size: 100px;
    line-height: 0;
    margin: 0;
    padding: 0;
    vertical-align: bottom
}
.panel .stat-num {
    font-size: 36px;
    font-weight: bold
}
.panel-stat .stat-title {
    opacity: .7;
    text-transform: uppercase
}
@media(min-width:768px) and (max-width:1200px) {
    .panel-stat h1 {
        font-size: 24px
    }
    .panel-stat h3 {
        font-size: 18px
    }
}
.panel-icon {
    text-align: center
}
.panel-icon .panel-body {
    font-size: 80px;
    padding: 15px 35px
}
.panel-icon .panel-footer {
    border-top: 0;
    background-color: rgba(0, 0, 0, 0.1) !important;
    padding: 1px 15px
}
.hover-effect:hover .panel-body.bg-red {
    -moz-transition: all .3s linear 0;
    -o-transition: all .3s linear 0;
    transition: all .3s linear 0;
    background-color: #c24848 !important
}
.hover-effect:hover .panel-footer {
    -moz-transition: all .3s linear 0;
    -o-transition: all .3s linear 0;
    transition: all .3s linear 0;
    background-color: rgba(0, 0, 0, 0.2) !important
}
.bg-transparent,
.bg-transparent .panel-body,
.bg-transparent .panel-footer {
    background: none !important
}
.bg-transparent .panel-body {
    padding: 0 35px;
    font-size: 95px
}
.datepicker {
    padding: 0;
    border-radius: 2px;
    font-size: 13px
}
.datepicker th,
.datepicker td {
    padding: 4px 12px !important;
    text-align: center
}
.datepicker table tr td.day:hover {
    background: #eee;
    cursor: pointer
}
.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
    background-color: #006dcc;
    color: #fff
}
.datepicker thead tr:first-child th,
.datepicker tfoot tr:first-child th {
    cursor: pointer
}
.datepicker thead tr:first-child th:hover,
.datepicker tfoot tr:first-child th:hover {
    background: #eee
}
.datepicker thead tr .datepicker-switch {
    color: #6f7b8a
}
.datepicker thead tr .dow {
    color: #00a2d9;
    text-transform: uppercase;
    font-size: 11px
}
.datepicker tbody tr .odd {
    color: #d0d3d8
}
.datepicker thead tr .next:before {
    color: #00a2d9;
    font-family: 'FontAwesome';
    content: "\f054"
}
.datepicker thead tr .prev:before {
    color: #00a2d9;
    font-family: 'FontAwesome';
    content: "\f053"
}
.datepicker table tr td.old,
.datepicker table tr td.new {
    color: #d0d3d8
}
.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
    background-image: none;
    text-shadow: none;
    font-weight: 600
}
.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
    background-color: #e5e9ec;
    background-image: none;
    color: #fff
}
.datepicker table tr td.day:hover {
    background: #eee;
    opacity: .65
}
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.active:hover,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled.disabled:hover,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active[disabled]:hover,
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled[disabled]:hover {
    background-color: #00a2d9
}
.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover {
    background-image: none;
    border: 0;
    text-shadow: none
}
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active.active:hover,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled.disabled:hover,
.datepicker table tr td span.active[disabled],
.datepicker table tr td span.active[disabled]:hover,
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active.disabled[disabled]:hover {
    background-color: #00a2d9
}
.datepicker table tr td span {
    border-radius: 4px 4px 4px 4px
}
.datepicker-inline {
    width: auto
}
.datepicker table {
    border: 1px solid #eee
}
.datepicker td span {
    display: block;
    width: 47px;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 2px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}
.datepicker-months {
    max-width: 282px
}
.datepicker-years {
    max-width: 282px
}
.dropdown-menu a {
    color: #121212
}
.dropdown-menu a:hover {
    background: 0
}
.dropdown-menu li a:hover {
    background: #f5f5f5
}
.nav.nav-tabs>li>a {
    background-color: #cfdae0;
    color: #121212
}
.nav.nav-tabs>li.active>a {
    background-color: white;
    color: #121212
}
.tab-content {
    background-color: #FFF;
    padding: 15px
}
.nav.nav-tabs.nav-dark>li>a {
    background-color: #2b2e33;
    color: #dadada
}
.nav.nav-tabs>li.active>a {
    background-color: white;
    color: #121212
}
.tab-content {
    background-color: #FFF;
    padding: 15px
}
.nav-tabs.nav-dark .dropdown-menu {
    background-color: #2b2e33
}
.nav.nav-tabs.nav-dark .dropdown-menu a {
    color: #dadada
}
.nav.nav-tabs.nav-dark .dropdown-menu li:hover {
    background: #373a41
}
.tab_left>.tab-content {
    overflow: hidden
}
.tab_left>.nav-tabs {
    float: left;
    border-right: 1px solid #DDD;
    margin-right: 0
}
.tab_left>.nav-tabs>li {
    float: none
}
.tab_left>.nav-tabs>li>a {
    margin-right: 0;
    min-width: 80px;
    border: 0
}
.tab_left>.nav-tabs>li>a {
    border-radius: 0;
    margin-right: -1px
}
.tab_left>.nav-tabs>li>a:hover,
.tabs-left>.nav-tabs>li>a:focus {
    border: 0
}
.tab_right>.tab-content {
    overflow: hidden
}
.tab_right>.nav-tabs {
    float: right;
    margin-left: 0;
    border-left: 1px solid #DDD
}
.tab_right>.nav-tabs>li {
    float: none
}
.tab_right>.nav-tabs>li>a {
    margin-left: 0;
    min-width: 80px;
    border: 0
}
.tab_right>.nav-tabs>li>a {
    border-radius: 0;
    margin-left: -1px
}
.tab_right>.nav-tabs>li>a:hover,
.tabs-left>.nav-tabs>li>a:focus {
    border: 0
}
.panel-accordion .panel-title {
    width: 100%;
    margin-bottom: 0
}
.panel-accordion .panel-default>.panel-heading {
    padding: 0;
    background-color: #FFF;
    border-color: #FFF
}
.panel-accordion h4 {
    margin-top: 0
}
.panel-accordion a {
    color: #121212;
    display: inline-block;
    width: 100%;
    padding: 15px
}
.panel-accordion a {
    background-color: #FFF;
    color: #121212
}
.panel-accordion a.collapsed {
    background-color: #cfdae0;
    color: #121212
}
.panel-accordion.dark-accordion a {
    background-color: #FFF;
    color: #121212
}
.panel-accordion.dark-accordion a.collapsed {
    background-color: #2b2e33;
    color: #dadada
}
.panel-accordion.dark-accordion .panel-heading .panel-title>a.collapsed:after {
    color: #767b80
}
.panel-accordion a:hover {
    text-decoration: none
}
.panel-heading .panel-titl e>a:after {
    font-family: 'FontAwesome';
    content: "\f068";
    float: right;
    color: #dfe5e9
}
.panel-heading .panel-title>a.collapsed:after {
    font-family: 'FontAwesome';
    content: "\f067";
    float: right;
    color: #88a5c0
}

#messages-list,
#message-detail {
    overflow: hidden
}
.message-action-btn i {
    font-size: 20px;
    line-height: 40px
}
.icon-rounded {
    text-align: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #bdbdbd;
    color: #bdbdbd;
    display: inline-block
}
.icon-rounded:hover {
    border: 1px solid #121212;
    color: #121212;
    cursor: pointer
}
.icon-rounded.heart:hover {
    border: 1px solid #d9534f;
    color: #d9534f
}
.icon-rounded.heart-red {
    border: 1px solid #d9534f;
    color: #d9534f
}
.icon-rounded.gear:hover {
    border: 1px solid #3f97c9;
    color: #3f97c9
}
.panel-body.messages {
    padding: 0
}
.border-bottom {
    border-bottom: 1px solid #efefef !important
}
#main-content .messages a.btn {
    color: #b3b3b3
}
.message-item {
    border: 0;
    border-bottom: 1px solid #ecebeb !important;
    margin: 0;
    padding: 10px 15px;
    display: block
}
.message-item h5 {
    margin-top: 0
}
.message-item p {
    margin-bottom: 0;
    height: 20px;
    overflow: hidden
}
.message-item .message-checkbox {
    height: 30px
}
.message-active {
    color: #fff;
    background-color: #00a2d9
}
a.message-item.message-active:hover {
    color: #fff;
    background-color: #008fc0
}
a.message-item:hover {
    text-decoration: none;
    background-color: #eaeaea
}
.messages .message-item img {
    border-radius: 3px
}
.message-item-right {
    padding-left: 33px
}
.withScroll {
    height: auto;
    overflow: auto;
    overflow: hidden
}
.messages .mCustomScrollBox {
    overflow: hidden !important
}
.message-result .message-item {
    padding-left: 0
}
.message-result .message-item-right {
    padding-left: 0
}
.message-title {
    margin-top: 0
}
.message-body {
    padding: 0 20px 20px 20px
}
.message-attache .media {
    float: left;
    padding-right: 30px;
    margin-top: 0;
    padding-bottom: 30px
}
.message-attache {
    border-top: 1px solid #ecebeb !important;
    padding-top: 10px
}
.message-between {
    height: 8px;
    background-color: #e7e7e7
}
.footer-message {
    padding-top: 20px
}
.send-message .form-control {
    height: 34px
}
@media(max-width:479px) {
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
  font-size: 11px;
}
.member img {
  width: 100% !important;
}
.member p {
  font-size:11px;
}
.article{
padding-bottom:30px;
}
h3 {
  font-size: 18px;
  position: relative;
}
}

@media(max-width:991px) {
    .email-hidden-sm {
        display: none
    }
    .email-go-back {
        display: inline-block
    }
	.article{
padding-bottom:30px;
}
}
.jcrop-holder #preview-pane {
    display: block;
    position: absolute;
    z-index: 20;
    top: 10px;
    right: 10px;
    padding: 6px;
    border: 1px rgba(0, 0, 0, .4) solid;
    background-color: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2)
}
#style-button {
    display: block;
    width: 282px;
    margin: auto;
    margin-top: 10px;
    padding: 6px;
    border: 1px rgba(0, 0, 0, .4) solid;
    background-color: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2)
}
#preview-pane .preview-container {
    width: 250px;
    height: 170px;
    overflow: hidden
}
.image-croping img {
    display: block;
    height: auto;
    max-width: 100%
}
.media-manager .panel-body {
    padding: 10px
}
.media-header {
    list-style: none;
    margin: 15px;
    padding: 0;
    margin-bottom: 20px;
    background: #Fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05)
}
.media-header li {
    display: inline-block;
    padding: 0;
    font-size: 12px;
    color: #666
}
.media-header li a {
    padding: 15px 15px 15px 20px;
    display: inline-block;
    border-right: 1px solid #EEE;
    margin-right: -5px
}
.media-header li:hover a {
    background-color: #008fc0;
    color: #fff;
    cursor: pointer
}
.media-header li:hover a {
    text-decoration: none;
    color: #fff
}
.media-header a.active {
    background-color: #00a2d9;
    color: #fff !important;
    text-decoration: none;
    padding: 26px 15px 20px 20px
}
.media-header .pull-right {
    background-color: #00a2d9;
    color: #fff
}
.media-header .pull-right:hover {
    background-color: #008fc0
}
.media-header .pull-right a {
    color: #fff;
    padding: 23px 15px 23px 20px
}
.media-header li:hover a.active,
.media-header a.active:hover {
    color: #fff !important
}
.media-checkbox {
    position: relative
}
.media-checkbox label {
    padding-left: 26px;
    margin-bottom: 0
}
.media-type {
    color: #121212
}
.media-type a {
    color: #121212;
    padding-right: 10px
}
.media-title a {
    color: #00a2d9;
    font-weight: 600
}
.media-manager .thmb.checked {
    border-color: #ccc
}
.media-manager .media-group {
    position: absolute;
    top: 14px;
    right: 14px;
    display: none
}
.col-xs-6:hover .media-group {
    display: block
}
.media-manager .dropdown-toggle {
    border: 1px solid #CCC !important;
    padding: 0 4px;
    line-height: normal;
    background: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}
.media-manager .media-menu {
    min-width: 128px
}
.media-manager .media-menu a {
    color: #333
}
.media-manager .media-menu i {
    margin-right: 5px;
    color: #999;
    width: 15px;
    font-size: 12px
}
.media-manager .media-menu li {
    margin: 0 5px;
    border-radius: 3px
}
.media-manager .media-menu li:hover {
    background-color: #dfe5e9 !important
}
.media-manager .media-menu li:hover i {
    color: #00a2d9
}
.media-manager .col-xs-6 {
    padding-right: 0
}
.media-manager .glyphicon {
    margin-right: 10px
}
.media-manager .panel-body {
    padding: 10px
}
.media-manager .panel-body table tr td {
    padding-left: 15px
}
.media-manager .panel-body .table {
    margin-bottom: 0
}
#main-content .media-manager .table a {
    color: #121212
}
.media-manager .panel-heading .panel-title>a:after {
    display: none
}
.media-manager .panel-heading .panel-title>a.collapsed:after {
    display: none
}
.media-menu .panel-body {
    padding: 0
}
.media-menu .panel-heading:hover {
    cursor: pointer
}
.media-menu .panel-heading:hover .collapsed {
    background-color: #f5f6f7 !important
}
.media-menu.dropdown-menu>li>a {
    padding: 3px 20px 3px 10px
}
.media-menu table td:hover {
    background-color: #f1f1f1
}
.media-menu table a:hover {
    text-decoration: none
}
.gallery {
    padding-top: 20px
}
.gallery .mix {
    position: relative;
    display: none;
    font-weight: 400;
    color: #fff;
    height: auto;
    overflow: visible
}

.gallery.list .mix {
    width: 100%;
    height: 160px
}
.thumbnail {
    position: relative;
    padding: 0;
    border-width: 0;
    border-radius: 3px;
    margin-bottom: 30px
}
.thumbnail>.overlay {
    position: absolute;
    z-index: 4;
    border-radius: 3px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease
}
.thumbnail:hover>.overlay {
    opacity: 1
}
.thumbnail>.overlay>.thumbnail-actions {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 100%;
    text-align: center
}
.thumbnail>.overlay>.thumbnail-actions i {
    margin-left: -2px;
    margin-right: 2px
}
.thumbnail>.overlay>.thumbnail-actions .btn {
    -webkit-transition: all .2s ease-in !important;
    -moz-transition: all .2s ease-in !important;
    -o-transition: all .2s ease-in !important;
    transition: all .2s ease-in !important;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0)
}
.thumbnail:hover>.overlay>.thumbnail-actions .btn {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}
.thumbnail .thumbnail-meta h5 {
    margin: 0
}
.thumbnail .thumbnail-meta small {
    color: #cfcfcf
}
.thumbnail .thumbnail-meta {
    position: absolute;
    z-index: 6;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FFF;
    padding: 10px;
   
}
.thumbnail {
    background: #c7d6e9
}
.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out
}
.mfp-fade.mfp-bg.mfp-ready {
    opacity: .8
}
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0
}
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .52s ease-out;
    transition: all .2s ease-out
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0
}
#faq {
    padding-left: 30px;
    padding-right: 30px
}
.faq .mix {
    position: relative;
    margin-bottom: 10px;
    display: none
}
.faq.gallery .mix {
    color: #121212
}
.faq.list .mix {
    width: 100%;
    height: 160px
}
.faq .mix.panel {
    border: 0;
    box-shadow: none;
    padding: 0;
    width: 100%
}
.categories-list li {
    padding: 8px 0 8px 0
}
.categories-list a {
    color: #c75757
}
.categories-list li i {
    padding-right: 10px;
    color: #c75757
}

.panel-body.notes {
    padding: 0
}

.search-page h4 {
    font-size: 20px;
    border-bottom: 1px solid #dadada;
    padding-bottom: 8px
}
#search-articles .col-md-9 h3 {
    margin-top: 0
}
.search-page .ui-btn.ui-checkbox-on:after {
    background-color: #18a689;
    border-color: #18a689
}
.search-page .member {
    border: 0;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: -15px;
    padding: 0
}
.search-page .member>div {
    padding: 15px;
    border: 1px solid #ebebeb
}
.search-page .member-entry img {
    max-width: 96px
}
.search-page .tab-content h3 a {
    color: #333
}
.search-page .tab-content h3 a:hover {
    text-decoration: none
}
.search-page .member-entry:hover {
    cursor: pointer
}
.member img{
width:60%;
}
