Options -Indexes

RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} ^wallisconsultancy.co.uk [NC]
RewriteRule ^(.*)$ http://www.wallisconsultancy.co.uk/$1 [L,R=301]


RewriteRule ^home/(.*) index.php?atab=home&rewrite=$1
RewriteRule ^consultancy/(.*) index.php?atab=consultancy&rewrite=$1
RewriteRule ^terms/(.*) index.php?atab=terms&rewrite=$1
RewriteRule ^messagesent/(.*) index.php?atab=messagesent&rewrite=$1
RewriteRule ^submitclaim/(.*) index.php?atab=submitclaim&rewrite=$1
RewriteRule ^business-services/(.*) index.php?atab=business-services&rewrite=$1
RewriteRule ^interim-management/(.*) index.php?atab=interim-management&rewrite=$1
RewriteRule ^mediation/(.*) index.php?atab=mediation&rewrite=$1
RewriteRule ^privacynotice/(.*) index.php?atab=privacynotice&rewrite=$1
RewriteRule ^contact-message/(.*) index.php?atab=message&rewrite=$1
RewriteRule ^complaint/(.*) index.php?atab=complaint&rewrite=$1

AddDefaultCharset Off
