.markdown {
  @apply text-base leading-relaxed text-left;
}

.markdown h3, .markdown h4, .markdown h5, .markdown h6 {
  @apply font-lato;
}

.markdown h3 {
  @apply text-2xl mb-6
}

.markdown p {
  @apply my-4;
}

.markdown ul,
.markdown ol {
  @apply my-6 ml-8;
}

.markdown ul {
  @apply list-disc;
}

.markdown ol {
  @apply list-decimal;
}

.markdown a {
  @apply text-theme-green;
}

.markdown :first-child {
  @apply mt-0;
}
